h1, h2, .article {
    text-align: center;
}

h1 {
    color: rgb(17, 17, 119);
}

p {
    box-sizing: border-box;
}

.price {
    margin-left: 18px;
    font-weight: bolder;
    font-size: 25px;
    color: rgb(64, 24, 102);
}

.name {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(64, 24, 102);
}

.description {
    font-weight: bold;
}

span {
    color: red;
}



